{% extends "base.html" %}
{% load i18n jmbo_template_tags foundry_tags %}

{% block content %}
{% jmbocache 1200 show-schedule %}

<div class="show-schedule">

    {% if intervals.daily %}
        <div class="interval">
            <div class="title">{% trans "Daily line-up" %}</div>
            {% listing intervals.daily style='Horizontal' %}
        </div>
    {% endif %}

    {% if intervals.weekdays %}
        <div class="interval">
            <div class="title">{% trans "Weekday line-up" %}</div>
            {% listing intervals.weekdays style='Horizontal' %}
        </div>
    {% endif %}

    {% if intervals.weekends %}
        <div class="interval">
            <div class="title">{% trans "Weekends line-up" %}</div>
            {% listing intervals.weekends style='Horizontal' %}
        </div>
    {% endif %}

    {% if intervals.saturdays %}
        <div class="interval">
            <div class="title">{% trans "Saturday line-up" %}</div>
            {% listing intervals.saturdays style='Horizontal' %}
        </div>
    {% endif %}
    
    {% if intervals.sundays %}
        <div class="interval">
            <div class="title">{% trans "Sunday line-up" %}</div>
            {% listing intervals.sundays style='Horizontal' %}
        </div>
    {% endif %}

</div>

{% endjmbocache %}
{% endblock %}
